@{
    ViewBag.Title = "Clientes";
}

<section class="main-container padding-bottom-clear">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">
                <h3 class="title">Clientes</h3>
                <div class="separator-2"></div>
            </div>
            <!-- main end -->

        </div>
    </div>
    <div class="clients-container">
        <div class="clients">

            <div class="client-image object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">
                <a href="#"><img src="/content/images/client-1.png" alt=""></a>
            </div>
            <div class="client-image object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="200">
                <a href="#"><img src="/content/images/client-2.png" alt=""></a>
            </div>
            <div class="client-image object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="300">
                <a href="#"><img src="/content/images/client-3.png" alt=""></a>
            </div>
            <div class="client-image object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="400">
                <a href="#"><img src="/content/images/client-4.png" alt=""></a>
            </div>
            <div class="client-image object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="500">
                <a href="#"><img src="/content/images/client-5.png" alt=""></a>
            </div>
            <div class="client-image object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="600">
                <a href="#"><img src="/content/images/client-6.png" alt=""></a>
            </div>
            <div class="client-image object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="700">
                <a href="#"><img src="/content/images/client-7.png" alt=""></a>
            </div>
            <div class="client-image object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="800">
                <a href="#"><img src="/content/images/client-8.png" alt=""></a>
            </div>

        </div>

    </div>

</section>
