<section class="main-container padding-bottom-clear">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">
                <!-- page-title start -->
                <!-- ================ -->
                <h1 class="page-title text-center">Clientes</h1>
                <div class="separator"></div>
                <br>
                <!-- page-title end -->

                <div class="row">
                    <div class="col-sm-4">
                        <div class="image-box style-2 mb-20">
                            <div class="overlay-container overlay-visible">
                                <img src="/content/images/customer/ALTA ROTAÇÃO.jpg" alt="">
                                <a href="http://www.altarotacaoatacadista.com.br" class="overlay-link" target="_black"><i class="fa fa-link"></i></a>
                                <div class="overlay-bottom hidden-xs">
                                    <div class="text">
                                        <p class="lead margin-clear text-left">Alta Rotação</p>
                                    </div>
                                </div>
                            </div>
                
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="image-box style-2 mb-20">
                            <div class="overlay-container overlay-visible">
                                <img src="/content/images/customer/DROGARIAS CAMPEÃ.jpg" alt="">
                                <a href="http://www.drogariascampea.com.br" class="overlay-link" target="_black"><i class="fa fa-link"></i></a>
                                <div class="overlay-bottom hidden-xs">
                                    <div class="text">
                                        <p class="lead margin-clear text-left">Drogaria Campeã</p>
                                    </div>
                                </div>
                            </div>
         
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="image-box style-2 mb-20">
                            <div class="overlay-container overlay-visible">
                                <img src="/content/images/customer/JAPÃO.jpg" alt="">
                                <a href="https://www.superjapao.com.br" class="overlay-link" target="_black"><i class="fa fa-link"></i></a>
                                <div class="overlay-bottom hidden-xs">
                                    <div class="text">
                                        <p class="lead margin-clear text-left">Japão Supermercado</p>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="image-box style-2 mb-20">
                            <div class="overlay-container overlay-visible">
                                <img src="/content/images/customer/LOJAM.jpg" alt="">
                                <a href="http://www.lojam.com.br" class="overlay-link" target="_black"><i class="fa fa-link"></i></a>
                                <div class="overlay-bottom hidden-xs">
                                    <div class="text">
                                        <p class="lead margin-clear text-left">Lojam Supermercados</p>
                                    </div>
                                </div>
                            </div>
           
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="image-box style-2 mb-20">
                            <div class="overlay-container overlay-visible">
                                <img src="/content/images/customer/SOL.jpg" alt="">
                                <div class="overlay-bottom hidden-xs">
                                    <div class="text">
                                        <p class="lead margin-clear text-left">Sol Supermercado</p>
                                    </div>
                                </div>
                            </div>
           
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="image-box style-2 mb-20">
                            <div class="overlay-container overlay-visible">
                                <img src="/content/images/customer/WEST BOI.jpg" alt="">
                                <a href="http://www.westboi.com.br" class="overlay-link" target="_black"><i class="fa fa-link"></i></a>
                                <div class="overlay-bottom hidden-xs">
                                    <div class="text">
                                        <p class="lead margin-clear text-left">WEST BOI</p>
                                    </div>
                                </div>
                            </div>
                            <div class="body padding-horizontal-clear">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main end -->

        </div>
    </div>
</section>